* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common shared css */
body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

/* header raleted css */
.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bannar-img.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-color: rgba(255, 255, 255, 0.38);
    margin: 0 auto;
}

.nav-bar {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu>ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 0px 20px;
}

.menu a {
    color: rgba(15, 14, 14, 0.90);
    font-size: 16px;
    font-weight: 600;
}

.menu a:hover {
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
}

.menu i:hover {
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
}

.logo h2 {
    color: #559CEF;
    font-size: 24px;
    font-weight: 600;
}


/* bannar section css here */
.bannar {
    max-width: 1300px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-left: 25px;
}

.nav-icon i {
    padding-left: 20px;
}

.bannar-title {
    color: rgba(15, 14, 14, 0.90);
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 55px;
}

.bannar-discreption {
    color: rgba(15, 14, 14, 0.90);
    font-size: 16px;
    font-weight: 400;
    width: 425px;
    padding-bottom: 50px;
}

.bannar-btn {
    border-radius: 4px;
    background-color: #559CEF;
    width: 183px;
    height: 55px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.bannar-btn:hover {
    background-color: transparent;
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #559CEF;
}

/* main section css here */
.main {
    max-width: 1300px;
    margin: 0 auto;
}

/* customers-reviwe section css */
.customers-reviwe {
    margin: 128px 0px;
}

.tea {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75PX;
}

.reviwe {
    text-align: center;
}

.reviwe-title {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 6.6px;
}

.reviwe-discreption {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 30px 300px;
}

.reviwer {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.tea-item {
    position: relative;
}

.box {
    position: absolute;
    background-color: #559CEF;
    height: 30px;
    width: 100px;
    top: 0px;
    right: 0px;
}

.box p {
    padding: 5px;
    text-align: center;
    color: #fff;
}

/* discover section */
.discover-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.discover-text {
    background-image: url('../images/PngItem_2104160\ 1.png');
    width: 385px;
    height: 481px;
    display: flex;
    align-items: center;
    padding: 48px;
}

.discover-titel {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 24px;
}

.discover-description {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-bottom: 24px;
    padding-right: 42px;
}

/* THIS MONTH’S PICK css */
.title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 6.6px;
}

.description {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 0px 250px;
}

.this-mont {
    margin-top: 120px;
}

.this-mont-pick {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.hearbal-tea {
    background-image: url('../images/PngItem_2104160\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 387px;
    height: 575px;
    border: 1px solid #559CEF;
    position: relative;
}

.box-2 {
    position: absolute;
    background-color: #559CEF;
    height: 85px;
    width: 100%;
    top: 0px;
    right: 0px;
}

.box-titel {
    text-align: center;
    padding: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3.3px;
}

.text {
    width: 387px;
    height: 575px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 100px 30px 0px;
}

.text-titel {
    color: #000;
    ;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 48px;
}

.text-desription {
    color: rgba(0, 0, 0, 0.71);
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

.read-more {
    color: #559CEF;
    font-size: 24px;
    font-weight: 500;
    text-decoration-line: underline;
}