* {
    margin: 0;
    padding: 0;
}

/* common shared css */
body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

/* header raleted css */
.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bannar-img.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-color: rgba(255, 255, 255, 0.38);
    margin: 0 auto;
}

.nav-bar {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu>ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 0px 20px;
}

.menu a {
    color: rgba(15, 14, 14, 0.90);
    font-size: 16px;
    font-weight: 600;
}
.menu a:hover {
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
}
.menu i:hover {
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
}

.logo h2 {
    color: #559CEF;
    font-size: 24px;
    font-weight: 600;
}


/* bannar section css here */
.bannar {
    max-width: 1300px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-left: 25px;
}

.nav-icon i {
    padding-left: 20px;
}

.bannar-title {
    color: rgba(15, 14, 14, 0.90);
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 55px;
}

.bannar-discreption {
    color: rgba(15, 14, 14, 0.90);
    font-size: 16px;
    font-weight: 400;
    width: 425px;
    padding-bottom: 50px;
}

.bannar-btn {
    border-radius: 4px;
    background-color: #559CEF;
    width: 183px;
    height: 55px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.bannar-btn:hover{
    background-color: transparent;
    color: #559CEF;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #559CEF;
}

/* main section css here */
.main {
    max-width: 1300px;
    margin: 0 auto;
}

/* customers-reviwe section css */
.customers-reviwe {
    margin: 55px 0px;
}

.tea {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75PX;
}

.reviwe {
    text-align: center;
}

.reviwe-title {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 6.6px;
}

.reviwe-discreption {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 30px 300px;
}

.reviwer {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}